

.sidebar {
       opacity: 1.0;
}

.sidebar:hover {
       opacity: 1.0;
}


.sidebar-logo {
      padding: 0.0rem;
}

.sidebar-logo img {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 180px;
      margin: 0 auto;
}
